-h
.vscode/
results_Amaury.dat
behaviors_real
behaviors_simulation
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
kilobots
Makefile
plugins
-r
build/
build
20180412_experiments
20180412_experiments_10*10_20robots
20180412_experiments_15*15_20robots
20180412_experiments_5*5_10robots
experiments/
startBatches
simulation_config/generated_configs
experiments
experiments_real
experiments_real_2
experiments_real_3
